
#------------------------------------------------------------------------------
# Amba device driver configuration
#------------------------------------------------------------------------------

menu "Grlib: Amba device driver configuration"

config AMBA_PROC
	bool "/proc filesystem for amba" 
	---help---
	Add /proc filesystem support to provide informations on 
	the amba bus and detected devices in /proc/bus/amba/

source "drivers/ambapp/gaisler/Kconfig"

endmenu

